### **什么是Pandas？**
> Pandas是一个开源的，BSD许可的库，为Python编程语言提供高性能，易于使用的数据结构和数据分析工具。

> 利用Python进行数据分析的首选库，它含有使数据清洗和分析工作变得更快更简单的数据结构和操作工具。

### **和NumPy的区别？**
> Pandas是专门为处理表格和混杂数据设计的。而NumPy更适合处理统一的数值数组数据。

### **数据结构介绍**
Pandas中的主要数据结构有两个：`Series`和`DataFrame`

> - 其中Series是一种类似于一维数组（Python中的list）的对象，由一组数据和一组索引（下标）两部分组成。Series可以保存任何数据类型。
- DataFrame是一个二维的表格型数据结构，可以把它想象成是一个Excel表格来理解，既有行索引，也有列索引。其中每列可以是不同的值类型。

除了Series和DataFrame，Index也是比较常见的数据结构，虽然没有前两者那么重要，但也是必不可少的。

In [1]:
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [8]:
l = [1, 2, 3, 4, 'a', 5, 6]
s = Series(l)
s

0    1
1    2
2    3
3    4
4    a
5    5
6    6
dtype: object

In [9]:
s.values

array([1, 2, 3, 4, 'a', 5, 6], dtype=object)

In [10]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [5]:
arr = [[1, 2, 3], [4, 5, 6]]
df = DataFrame(arr)
df

   0  1  2
0  1  2  3
1  4  5  6

In [11]:
df.values

array([[1, 2, 3],
       [4, 5, 6]], dtype=int64)

In [12]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [13]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [14]:
df.shape

(2, 3)

In [15]:
df.size

6