## 2.1 `.dot()`
#### `DataFrame.dot(other)`
- other：DataFrame或Series

注意，pandas在做矩阵运算时，**要求：**矩阵的维度相同，左操作数的列索引和右操作数的行索引相同。

In [13]:
df1

   A  B
a  1  2
b  3  4

In [14]:
df2

   B  C
b  3  4
c  5  6

In [15]:
# df1.dot(df2)#报错
df2.index = ['A','B']  
df2

   B  C
A  3  4
B  5  6

In [16]:
df1.dot(df2)  # 左操作数的行索引和右操作数的列索引变为内积后元素的行、列索引

    B   C
a  13  16
b  29  36

In [17]:
s1

A    1
B    2
Name: A, dtype: int64

In [18]:
df1.dot(s1)

a     5
b    11
dtype: int64

## 2.2  `.T`
矩阵的转置。

In [19]:
df1.T

   a  b
A  1  3
B  2  4

--- 
# 3. 本地一元变换
这些运算不改变索引，只是在当前位置做一些变化。

## 3.1 `.abs()`
转化为绝对值。

In [20]:
df1.loc['a','A'] = -1
df1

   A  B
a -1  2
b  3  4

In [21]:
df1.abs()

   A  B
a  1  2
b  3  4

## 3.2 `.cumxxx()`
累计运算，从开始到当前数据结束获取一个值。
#### `DataFrame.cumxxx(axis='index')`
- axis：'index'或'columns'

xxx 可取：max, min, sum, prod

In [22]:
df1.cummax()  # 默认为沿index，列

   A  B
a -1  2
b  3  4

In [23]:
df1.cummax(axis = 'columns')  # columns意思，行

   A  B
a -1  2
b  3  4

## 3.3 `.clip()`
顾名思义，裁剪也即将数据裁剪到一定范围内。
#### `DataFrame.clip(lower=None, upper=None)`
- lower：float 
- upper：float

In [24]:
df1 = pd.DataFrame([[-1,1],[-2,3]])
df1

   0  1
0 -1  1
1 -2  3

In [25]:
df1.clip( -0.5,0.5)

     0    1
0 -0.5  0.5
1 -0.5  0.5

## 3.4 `.rank()`
顾名思义，rank次序的意思，也即标示出数值的次序
#### `DataFrame.rank(axis=0, method='average',  ascending=True, pct=False)`
- axis：0（'index'）-按列方向，1('columns')-按行方向
- method：对于值相同的数怎么标记顺序，
   - 'first'：所有数按照大小排序，如相同按照出现顺序赋次序。
   - 'dense'：值相同为一组，按照组值排序，组内取相同次序，和min不同—min是将相同数用第一
- ascending：True or False，升序还是降序；
- pct：percent，按照百分比显示，将显示的次序除以列、或行元素个数。

In [26]:
df1 = pd.DataFrame(data = [[1,1,2,2],[2,3,2,4]])
df1

   0  1  2  3
0  1  1  2  2
1  2  3  2  4

In [27]:
df1.rank( axis = 'columns',method = 'min',pct= False) # 注意和下面 dense 对比

     0    1    2    3
0  1.0  1.0  3.0  3.0
1  1.0  3.0  1.0  4.0

In [28]:
df1.rank( axis = 'columns',method = 'dense',pct= False)  #

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  1.0  2.0  1.0  3.0

In [29]:
df1.rank( axis = 'columns',method = 'dense',pct= True)  # 按照百分比显示，相当于直接除行元素个数

      0     1     2     3
0  0.25  0.25  0.50  0.50
1  0.25  0.50  0.25  0.75

## 3.5 `.round()`
前面一章介绍了设置显示精度的操作，其不改变实际精度，而这个API则可以改变精度。

#### `Series.round(decimals=0)`
- decimals：控制小数位数

In [30]:
s= pd.Series([1.111,2.222])
s

0    1.111
1    2.222
dtype: float64

In [31]:
s.round(1)

0    1.1
1    2.2
dtype: float64

In [32]:
s.round(2)

0    1.11
1    2.22
dtype: float64