In [1]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [5]:
data = {'c1': [1, 3, 5, 7, 9],
        'c2': [0, 2, 4, 6, 8],
        'k1': ['a', 'a', 'b', 'b', 'a'],
        'k2': ['A', 'B', 'A', 'B', 'A'] 
       }
df = DataFrame(data)
df

   c1  c2 k1 k2
0   1   0  a  A
1   3   2  a  B
2   5   4  b  A
3   7   6  b  B
4   9   8  a  A

In [19]:
df.groupby('k1')['c1'].mean()

k1
a    4.333333
b    6.000000
Name: c1, dtype: float64

In [12]:
df['c1']

0    1
1    3
2    5
3    7
4    9
Name: c1, dtype: int64

In [17]:
df['c1'].groupby(df['k1']).mean()

k1
a    4.333333
b    6.000000
Name: c1, dtype: float64