In [20]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame
from datetime import datetime

In [3]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [4]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [8]:
datestrs = datestrs + [None]

In [18]:
pd.notna(datestrs)

array([ True,  True, False])

In [19]:
datestrs

['2011-07-06 12:00:00', '2011-08-06 00:00:00', None]

In [21]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
          datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [22]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [23]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.499399
2011-01-05   -0.421796
2011-01-07    0.219420
2011-01-08    0.395690
2011-01-10   -0.598455
2011-01-12    0.575614
dtype: float64

In [24]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [25]:
ts[::2]

2011-01-02    0.499399
2011-01-07    0.219420
2011-01-10   -0.598455
dtype: float64

In [27]:
stamp = ts.index[2]

In [33]:
stamp.days_in_month

31

In [36]:
# 索引的时候可以直接传入一个可以被解释为日期的字符串
ts['20110112']

0.5756135582650858

In [38]:
# 对于较长的时间序列，只需传入“年”或“年月”即可轻松选取数据的切片
longer_ts = pd.Series(np.random.randn(1000),
index=pd.date_range('1/1/2000', periods=1000))

In [39]:
longer_ts

2000-01-01    0.865980
2000-01-02   -1.642635
2000-01-03   -0.105037
2000-01-04    0.578868
2000-01-05   -0.678010
2000-01-06    0.782255
2000-01-07    0.446523
2000-01-08   -0.380872
2000-01-09   -0.640316
2000-01-10   -1.090627
2000-01-11    0.132354
2000-01-12    1.600890
2000-01-13    0.168217
2000-01-14    0.745682
2000-01-15   -0.636498
2000-01-16    1.059591
2000-01-17   -0.836151
2000-01-18    0.183275
2000-01-19    1.778605
2000-01-20    0.541976
2000-01-21    1.081216
2000-01-22   -1.918716
2000-01-23   -0.557985
2000-01-24   -1.394915
2000-01-25   -0.275012
2000-01-26   -1.176746
2000-01-27   -0.651630
2000-01-28   -0.654662
2000-01-29   -0.430478
2000-01-30   -1.867741
                ...
2002-08-28    0.072290
2002-08-29    0.663138
2002-08-30   -0.768259
2002-08-31    0.740334
2002-09-01   -0.679221
2002-09-02   -1.170443
2002-09-03    0.729053
2002-09-04   -1.011588
2002-09-05   -0.782404
2002-09-06    0.484783
2002-09-07    0.795950
2002-09-08    0.183666
2002-09-09    0.166069
2002-09-10    0.010349
2002-09-11   -1.163267
2002-09-12   -0.741421
2002-09-13    1.137977
2002-09-14   -0.044986
2002-09-15   -1.060023
2002-09-16    0.143600
2002-09-17   -0.083437
2002-09-18    1.446021
2002-09-19   -1.354766
2002-09-20   -0.794376
2002-09-21    0.661798
2002-09-22   -1.188815
2002-09-23    0.720638
2002-09-24    0.036015
2002-09-25    1.195956
2002-09-26    1.401807
Freq: D, Length: 1000, dtype: float64

In [40]:
longer_ts['2001']

2001-01-01    0.900275
2001-01-02   -0.094658
2001-01-03    2.126059
2001-01-04    0.715256
2001-01-05   -0.218486
2001-01-06   -1.220990
2001-01-07    0.889251
2001-01-08   -0.755584
2001-01-09   -1.118473
2001-01-10    0.995409
2001-01-11   -0.283670
2001-01-12    0.710365
2001-01-13   -0.807655
2001-01-14    0.676148
2001-01-15   -0.453111
2001-01-16    0.514945
2001-01-17   -0.548039
2001-01-18    1.404557
2001-01-19   -0.671688
2001-01-20    1.407116
2001-01-21   -1.668070
2001-01-22   -1.053230
2001-01-23   -0.721873
2001-01-24   -0.200900
2001-01-25    1.671600
2001-01-26   -0.997673
2001-01-27   -0.139899
2001-01-28    0.268797
2001-01-29   -0.211841
2001-01-30   -0.197419
                ...
2001-12-02   -0.008905
2001-12-03    1.854253
2001-12-04    0.517589
2001-12-05    0.824963
2001-12-06   -1.338483
2001-12-07   -0.825651
2001-12-08   -0.312445
2001-12-09    0.489429
2001-12-10   -1.738809
2001-12-11   -0.903069
2001-12-12    1.013970
2001-12-13   -0.131897
2001-12-14   -0.275998
2001-12-15    0.756951
2001-12-16    0.617941
2001-12-17   -0.462330
2001-12-18    1.801037
2001-12-19   -1.732217
2001-12-20   -1.106969
2001-12-21    1.105206
2001-12-22   -0.099565
2001-12-23   -0.168530
2001-12-24   -0.645329
2001-12-25    0.410281
2001-12-26    0.875708
2001-12-27    1.761378
2001-12-28   -0.184410
2001-12-29   -0.299311
2001-12-30    0.069422
2001-12-31    0.923169
Freq: D, Length: 365, dtype: float64

In [43]:
longer_ts['2001-05']

2001-05-01   -1.617517
2001-05-02    0.638074
2001-05-03    1.356798
2001-05-04   -1.067012
2001-05-05    1.159930
2001-05-06    0.855734
2001-05-07    1.005407
2001-05-08   -2.888383
2001-05-09    2.026024
2001-05-10   -0.549772
2001-05-11    0.561432
2001-05-12    0.254269
2001-05-13   -1.259233
2001-05-14    2.034129
2001-05-15    2.091903
2001-05-16   -1.620351
2001-05-17   -1.815093
2001-05-18    0.805350
2001-05-19    0.639242
2001-05-20    0.776186
2001-05-21    0.386078
2001-05-22   -0.010018
2001-05-23   -0.409999
2001-05-24   -0.595128
2001-05-25    0.488456
2001-05-26    0.524416
2001-05-27    0.795725
2001-05-28   -1.047849
2001-05-29    0.707309
2001-05-30    1.258463
2001-05-31   -0.935330
Freq: D, dtype: float64

In [53]:
# 切片
longer_ts['2001-06':] # longer_ts['2001-06-01':]

2001-06-01   -0.314272
2001-06-02   -0.805319
2001-06-03    0.102831
2001-06-04    2.127447
2001-06-05   -0.599259
2001-06-06    2.416681
2001-06-07   -0.783424
2001-06-08    1.122064
2001-06-09    0.223097
2001-06-10   -0.452301
2001-06-11    0.354878
2001-06-12   -1.645409
2001-06-13   -0.514774
2001-06-14    0.743855
2001-06-15    0.246718
2001-06-16    0.821871
2001-06-17   -1.063013
2001-06-18    1.536483
2001-06-19    0.638818
2001-06-20    0.477997
2001-06-21   -0.370199
2001-06-22    1.133212
2001-06-23    1.087145
2001-06-24   -0.577228
2001-06-25    0.214819
2001-06-26   -1.853094
2001-06-27   -0.322206
2001-06-28    1.176900
2001-06-29   -1.427337
2001-06-30   -0.461458
                ...
2002-08-28    0.072290
2002-08-29    0.663138
2002-08-30   -0.768259
2002-08-31    0.740334
2002-09-01   -0.679221
2002-09-02   -1.170443
2002-09-03    0.729053
2002-09-04   -1.011588
2002-09-05   -0.782404
2002-09-06    0.484783
2002-09-07    0.795950
2002-09-08    0.183666
2002-09-09    0.166069
2002-09-10    0.010349
2002-09-11   -1.163267
2002-09-12   -0.741421
2002-09-13    1.137977
2002-09-14   -0.044986
2002-09-15   -1.060023
2002-09-16    0.143600
2002-09-17   -0.083437
2002-09-18    1.446021
2002-09-19   -1.354766
2002-09-20   -0.794376
2002-09-21    0.661798
2002-09-22   -1.188815
2002-09-23    0.720638
2002-09-24    0.036015
2002-09-25    1.195956
2002-09-26    1.401807
Freq: D, Length: 483, dtype: float64

In [56]:
longer_ts['2001-06':'2001-08']

2001-06-01   -0.314272
2001-06-02   -0.805319
2001-06-03    0.102831
2001-06-04    2.127447
2001-06-05   -0.599259
2001-06-06    2.416681
2001-06-07   -0.783424
2001-06-08    1.122064
2001-06-09    0.223097
2001-06-10   -0.452301
2001-06-11    0.354878
2001-06-12   -1.645409
2001-06-13   -0.514774
2001-06-14    0.743855
2001-06-15    0.246718
2001-06-16    0.821871
2001-06-17   -1.063013
2001-06-18    1.536483
2001-06-19    0.638818
2001-06-20    0.477997
2001-06-21   -0.370199
2001-06-22    1.133212
2001-06-23    1.087145
2001-06-24   -0.577228
2001-06-25    0.214819
2001-06-26   -1.853094
2001-06-27   -0.322206
2001-06-28    1.176900
2001-06-29   -1.427337
2001-06-30   -0.461458
                ...
2001-08-02   -1.289701
2001-08-03   -1.148772
2001-08-04    1.096614
2001-08-05   -0.294038
2001-08-06   -0.254378
2001-08-07   -0.820414
2001-08-08    1.086836
2001-08-09    1.127844
2001-08-10   -0.505503
2001-08-11    1.303058
2001-08-12   -1.526417
2001-08-13    1.154572
2001-08-14    1.456839
2001-08-15   -0.342165
2001-08-16    0.455957
2001-08-17    1.869128
2001-08-18    0.840625
2001-08-19   -0.219898
2001-08-20    0.184108
2001-08-21   -0.443925
2001-08-22    0.458423
2001-08-23   -0.320795
2001-08-24   -0.163598
2001-08-25   -0.289207
2001-08-26    0.495068
2001-08-27    0.000655
2001-08-28   -0.797996
2001-08-29    0.295032
2001-08-30   -3.213528
2001-08-31    0.026500
Freq: D, Length: 92, dtype: float64

In [57]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
 '1/2/2000', '1/3/2000'])

In [58]:
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts.index.is_unique

False

In [61]:
dup_ts['20000102']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [63]:
grouped = dup_ts.groupby(level=0)
grouped

In [ ]:
r