# 分层索引（hierarchical indexing）

说白了就是在一个轴上有两个以上索引

In [2]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [3]:
data = np.random.randn(6)
s = Series(data, index=[['A','A', 'B', 'B', 'C', 'C'],
                        ['a', 'b', 'c', 'a', 'b', 'c']])
s

A  a    0.612392
   b    0.501079
B  c   -1.121091
   a   -1.236260
C  b    0.463675
   c    2.241744
dtype: float64

In [4]:
s.index

MultiIndex(levels=[['A', 'B', 'C'], ['a', 'b', 'c']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 2, 0, 1, 2]])

In [5]:
s.A.b

0.5010791215185071

In [6]:
s['C']

b    0.463675
c    2.241744
dtype: float64

In [7]:
s[:,'a'] # 直接在内层选取

A    0.612392
B   -1.236260
dtype: float64

In [8]:
s['B':'C']

B  c   -1.121091
   a   -1.236260
C  b    0.463675
   c    2.241744
dtype: float64

In [9]:
s.unstack() # unstack()的反操作是stack()

          a         b         c
A  0.612392  0.501079       NaN
B -1.236260       NaN -1.121091
C       NaN  0.463675  2.241744

In [10]:
s

A  a    0.612392
   b    0.501079
B  c   -1.121091
   a   -1.236260
C  b    0.463675
   c    2.241744
dtype: float64

In [11]:
df = DataFrame(np.arange(12).reshape(3,4), index=['A', 'B', 'C'])
df

   0  1   2   3
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [12]:
df.stack()

A  0     0
   1     1
   2     2
   3     3
B  0     4
   1     5
   2     6
   3     7
C  0     8
   1     9
   2    10
   3    11
dtype: int64

## 多索引排序

swaplevel接受两个级别编号或名称

In [13]:
s

A  a    0.612392
   b    0.501079
B  c   -1.121091
   a   -1.236260
C  b    0.463675
   c    2.241744
dtype: float64

In [15]:
s.swaplevel()

a  A    0.612392
b  A    0.501079
c  B   -1.121091
a  B   -1.236260
b  C    0.463675
c  C    2.241744
dtype: float64

In [22]:
s.sort_index(level=1) # 根据单个级别中的值对数据进行排序

A  a    0.612392
B  a   -1.236260
A  b    0.501079
C  b    0.463675
B  c   -1.121091
C  c    2.241744
dtype: float64

MultiIndex(levels=[['A', 'B', 'C'], ['a', 'b', 'c']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 2, 0, 1, 2]])

### df.set_index() 函数会将其一个或多个列转换为行索引