### 重新索引
- reindex() 只是根据index改变各个元素（value）的排列顺序，而不是改变元素（value）与index的对应关系
> 参数说明
> - idnex：用作索引的序列
> - method: 填充方式
> - fill_value：缺失值的替代值
> - limit：向前或向后填充时的最大填充量
> - tolerance：向前或者向后填充时，填充不准确匹配项的最大间距
> - level：在MultiIndex的指定级别上匹配简单索引，否则选取子集
> - copy：默认为True，无论如何都复制；如果为False，则新旧相等就不复制

In [1]:
import pandas as pd
from pandas import Series
from pandas import DataFrame

#### Series上的reindex

In [2]:
s = Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [3]:
s2 = s.reindex(['f', 'e', 'd', 'c', 'b', 'a'])
s2

f    6
e    5
d    4
c    3
b    2
a    1
dtype: int64

#### DataFrame上的reindex

![](http://upload-images.jianshu.io/upload_images/7178691-b53c4a9d65a2db32.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

df.duplicated()返回一个布尔型Series，表示各行是否有重复行（是否重复出现前面的行）

df.drop_duplicates()返回一个去掉重复行的DataFrame

以上两个方法默认判断全部列，也可以自己指定判断是否重复的列。他们默认保留的是第一个出现的值组合，传入keep=‘last’则保留最后一个

In [8]:
df = DataFrame([[1,2], [2,3], [3,4], [2,4], [3,5], [2,3], [2,4]], columns=['A', 'B'])
df

   A  B
0  1  2
1  2  3
2  3  4
3  2  4
4  3  5
5  2  3
6  2  4

In [9]:
df.duplicated() # 默认判断所有行是否重复

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [10]:
df.drop_duplicates()

   A  B
0  1  2
1  2  3
2  3  4
3  2  4
4  3  5

In [11]:
df.duplicated('A')

0    False
1    False
2    False
3     True
4     True
5     True
6     True
dtype: bool

In [12]:
df.drop_duplicates('A')

   A  B
0  1  2
1  2  3
2  3  4

- map()
- apply()
- apply_map()
- replace() 
 - repalce(1, -1) 可以替换一个值
 - repalce([1, 2], -1) 可以一次替换多个值
 - repalce([1,2], [-1, -2]) 一次替换多个值，每个被替换的值都不一样
 - repalce({1:-1, 2:-2}) 同上